.navigation {
  text-align: center;
  height: 52px;
  margin-top: 8px;
}

form {
  padding: 8px;
}

form label {
  margin-right: 8px;
}

form p {
  display: inline-block;
  margin-left: 8px !important;
}

form button {
  margin-left: 8px !important;
}

.basket {
  text-align: center;
}

thead {
  background-color: rgba(152, 185, 238, 0.306);
}

thead > tr > th {
  font-weight: 700 !important;
}
